<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.trenska.longwang.dao.financing.DealDetailMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.trenska.longwang.entity.financing.DealDetail">
        <id column="id" property="id"/>
        <result column="cust_id" property="custId"/>
        <result column="name_no" property="nameNo"/>
        <result column="deal_time" property="time"/>
        <result column="amount" property="amount"/>
        <result column="debt" property="newDebt"/>
        <result column="oper" property="oper"/>
        <result column="payway" property="payway"/>
        <result column="remarks" property="remarks"/>
        <result column="audit_remarks" property="auditRemarks"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        tdd.id, tdd.cust_id, tdd.name_no, tdd.deal_time, cast(tdd.amount as decimal(9,2)) as amount,cast(tdd.debt as decimal(9,2)) as debt ,
        ifnull(tdd.oper,'') as oper,ifnull(tdd.payway,'') as payway ,ifnull(tdd.remarks,'') as remarks,ifnull(tdd.audit_remarks,'') as audit_remarks
    </sql>
    <select id="selectDealDetailCountSelective" resultType="java.lang.Integer">
        select count(1)
        from t_deal_detail tdd
        <trim prefix="where" prefixOverrides="and">
            <if test="beginTime != null and beginTime != '' and endTime != null and endTime != ''">
                AND tdd.deal_time BETWEEN #{beginTime} AND #{endTime}
            </if>
            <if test="oper != null and oper != ''">
                AND tdd.oper = #{oper}
            </if>
            <if test="custId != null and custId > 0">
                AND tdd.cust_id = #{custId}
            </if>
            <if test="payway != null and payway != ''">
                AND tdd.payway = #{payway}
            </if>
        </trim>
    </select>

    <select id="selectDealDetailPageSelective" resultMap="BaseResultMap">
        select
        tdd.id, tdd.cust_id, tdd.name_no, tdd.deal_time, tdd.amount,cast(tdd.debt as decimal(9,2)) as debt ,tdd.oper,ifnull(tdd.payway,'') as payway ,ifnull(tdd.remarks,'') as remarks,ifnull(tdd.audit_remarks,'') as audit_remarks
        from t_deal_detail tdd
        <trim prefix="where" prefixOverrides="and">
            <if test="beginTime != null and beginTime != '' and endTime != null and endTime != ''">
                AND tdd.deal_time BETWEEN #{beginTime} AND #{endTime}
            </if>
            <if test="oper != null and oper != ''">
                AND tdd.oper = #{oper}
            </if>
            <if test="custId != null and custId > 0">
                AND tdd.cust_id = #{custId}
            </if>
            <if test="payway != null and payway != ''">
                AND tdd.payway = #{payway}
            </if>
        </trim>
        order by tdd.deal_time desc ,tdd.debt
    </select>

    <select id="selectLastSurplusCustIds" resultType="java.lang.Integer">
        SELECT
        tc.cust_id AS custId
        from t_customer as tc,t_deal_detail as tdd
        where tdd.cust_id = tc.cust_id
        and tdd.deal_time between #{beginTime} and #{endTime}
        <trim prefix="and" prefixOverrides="and">
            <if test="custIds != null and custIds.size() > 0">
                <foreach collection="custIds" item="custId" open="and tc.cust_id in (" close=")" separator=",">
                    #{custId}
                </foreach>
            </if>
            <if test="areaGrpId != null">
                and tc.area_grp_id in (
                  select area_grp_id from t_area_grp where FIND_IN_SET(area_grp_id,getChildList(#{areaGrpId}))
                )
            </if>
            <if test="custName != null and custName != ''">
                AND tc.cust_name LIKE concat('%',#{custName},'%')
            </if>
            <if test="priceGrpId != null and priceGrpId != 0">
                AND tc.price_grp_id = #{priceGrpId}
            </if>
        </trim>
        group by tc.cust_id
    </select>

    <!--<select id="selectLastSurplusCustIds" resultType="java.lang.Long">
        select tc.cust_id AS custId
        FROM (
        SELECT cust_id FROM t_customer

        <trim prefixOverrides="AND" prefix="WHERE">
            <if test="custName != null and custName != ''">
                AND cust_name LIKE concat('%',#{custName},'%')
            </if>
            <if test="priceGrpId != null and priceGrpId != 0">
                AND price_grp_id = #{priceGrpId}
            </if>
            <if test="custIds != null and custIds.size() > 0">
                <foreach collection="custIds" item="custId" open="AND cust_id IN (" close=")" separator=",">
                    #{custId}
                </foreach>
            </if>
            <if test="areaGrpIds != null and areaGrpIds.size() > 0">
                <foreach collection="areaGrpIds" item="areaGrpId" open=" AND area_grp_id IN(" close=")" separator=",">
                    #{areaGrpId}
                </foreach>
            </if>
        </trim>
        ) as tc
        LEFT JOIN (
        select cust_id
        from t_indent
        where stat in ('已完成','已出库')
        and sales_time between #{beginTime} and #{endTime}
        <trim prefixOverrides="and" prefix="and">
            <if test="salesmanId != null">
                AND salesman_id = #{salesmanId}
            </if>
        </trim>
        group by cust_id
        ) AS ti
        ON tc.cust_id = ti.cust_id
        GROUP BY tc.cust_id
    </select>-->

    <!--
    欠款明细增加欠款部分
    截取1-4个字符表示匹配销售商品和销售商品(作废)，销售商品 amount前缀为+ ，
    销售商品(作废)amount前缀为-,sum()恰好能进行统计，因为增加欠款是这两者绝对值的差
    -->
    <select id="selectDealDetailSummarizingForAdd" resultType="com.trenska.longwang.entity.financing.DealDetailSummarizing">
        select ifnull(sum(if(substring(tdd.oper,1,4) = '销售商品',cast(amount as decimal(9,2)),0)),0) as plusDebt
        from t_deal_detail tdd
        where tdd.cust_id = #{custId}
        <trim prefix="and" prefixOverrides="and">
            <if test="beginTime != null and beginTime != '' and endTime != null and endTime != ''">
                AND tdd.deal_time BETWEEN #{beginTime} AND #{endTime}
            </if>
            <if test="oper != null and oper != ''">
                AND tdd.oper = #{oper}
            </if>
        </trim>
    </select>

    <!--同一时刻可能有多条欠款明细-->
    <select id="selectLastSurplusDebtBefore" resultMap="BaseResultMap">
        select <include refid="Base_Column_List"/> from t_deal_detail tdd,t_customer tc
        where tdd.deal_time =
        (
          select max(deal_time)
          from t_deal_detail
          where cust_id = #{custId}
          and deal_time <![CDATA[<]]> #{beginTime}
        )
        and tdd.cust_id = tc.cust_id
        and tc.cust_id = #{custId}
        <trim prefix="and" prefixOverrides="and">
            <if test="areaGrpId != null">
                and tc.area_grp_id in (
                  select area_grp_id from t_area_grp where FIND_IN_SET(area_grp_id,getChildList(#{areaGrpId}))
                )
            </if>
            <if test="custName != null and custName != ''">
                and tc.cust_name like concat('%',#{custName},'%')
            </if>
            <if test="priceGrpId != null and priceGrpId != 0">
                and tc.price_grp_id = #{priceGrpId}
            </if>
            <if test="oper != null and oper != ''">
                and tdd.oper = #{oper}
            </if>
        </trim>


    </select>
    <select id="selectLastSurplusDebtBetween" resultMap="BaseResultMap">
        select <include refid="Base_Column_List"/> from t_deal_detail tdd , t_customer tc
        where tdd.id =
        (
          select min(id)
          from t_deal_detail
          where cust_id = #{custId}
          and deal_time between #{beginTime} and #{endTime}
        )
        and tc.cust_id = tdd.cust_id
        <trim prefix="and" prefixOverrides="and">
            <if test="areaGrpId != null">
                and tc.area_grp_id in (
                  select area_grp_id from t_area_grp where FIND_IN_SET(area_grp_id,getChildList(#{areaGrpId}))
                )
            </if>
            <if test="custName != null and custName != ''">
                and tc.cust_name like concat('%',#{custName},'%')
            </if>
            <if test="priceGrpId != null and priceGrpId != 0">
                and tc.price_grp_id = #{priceGrpId}
            </if>
            <if test="oper != null and oper != ''">
                and tdd.oper = #{oper}
            </if>
        </trim>
    </select>
    <!--<select id="selectDealDetailSummarizing"
            resultType="com.trenska.longwang.entity.financing.DealDetailSummarizing">
        select
        abs(ifnull(
            sum(
                if(
                  substring(tdd.name_no,1,3) = '订货单' or (substring(tdd.name_no,1,3) = '调账单'and substring(tdd.oper,1,4) = '调账增加'),
                  cast(tdd.amount as decimal(9,2))
                ,0)
            )
        ,0)) as plusDebt,
        abs(ifnull( sum( if(substring(tdd.name_no,1,3) = '收款单' , cast(tdd.amount as decimal(9,2)),0) ) ,0)) as receiptedDetb,
        abs(ifnull(
            sum(
                if(
                  substring(tdd.name_no,1,3) = '付款单'
                  or
                  substring(tdd.name_no,1,3) = '退货单'
                  or
                  (substring(tdd.name_no,1,3) = '调账单' and  substring(tdd.oper,1,4) = '调账减少'),
                  cast(tdd.amount as decimal(9,2))
                ,0)
            )
        ,0)) as cutDebt
        from t_deal_detail tdd
        where tdd.cust_id = #{custId}
        <trim prefix="and" prefixOverrides="and">
            <if test="beginTime != null and beginTime != '' and endTime != null and endTime != ''">
                AND tdd.deal_time BETWEEN #{beginTime} AND #{endTime}
            </if>
            <if test="oper != null and oper != ''">
                AND tdd.oper = #{oper}
            </if>
            <if test="payway != null and payway != ''">
                AND tdd.payway = #{payway}
            </if>
        </trim>
    </select>-->

    <select id="selectDealDetailSummarizing"
            resultType="com.trenska.longwang.entity.financing.DealDetailSummarizing">
        select
            ifnull(sum(if(substring(tdd.amount,1,1)='+',cast(tdd.amount as decimal(9,2)),0)),0) as plusDebt,
            abs(ifnull( sum( if(substring(tdd.name_no,1,3) = '收款单' and instr(tdd.oper,'作废') = 0 , cast(tdd.amount as decimal(9,2)),0) ) ,0)) as receiptedDetb,
            abs(ifnull(
                sum(
                    if(
                        (substring(tdd.name_no,1,3) = '付款单'and instr(tdd.oper,'作废') = 0 )
                      or
                        (substring(tdd.name_no,1,3) = '退货单' and instr(tdd.oper,'作废') = 0)
                      or
                        (substring(tdd.name_no,1,3) = '调账单' and  substring(tdd.oper,1,4) = '调账减少' and instr(tdd.oper,'作废') = 0)
                      or
                        (substring(tdd.name_no,1,3) = '订货单' and tdd.oper = '销售商品(核改)'),cast(tdd.amount as decimal(9,2))
                    ,0)
                )
            ,0)) as cutDebt
        from t_deal_detail tdd
        where tdd.cust_id = #{custId}
        <trim prefix="and" prefixOverrides="and">
            <if test="beginTime != null and beginTime != '' and endTime != null and endTime != ''">
                AND tdd.deal_time BETWEEN #{beginTime} AND #{endTime}
            </if>
            <if test="oper != null and oper != ''">
                AND tdd.oper = #{oper}
            </if>
            <if test="payway != null and payway != ''">
                AND tdd.payway = #{payway}
            </if>
        </trim>
    </select>
</mapper>