<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.trenska.longwang.dao.financing.ReceiptMapper">
    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.trenska.longwang.entity.financing.Receipt">
        <id column="receipt_id" property="receiptId"/>
        <result column="receipt_no" property="receiptNo"/>
        <result column="cust_id" property="custId"/>
        <result column="emp_id" property="empId"/>
        <result column="chargeman_id" property="chargemanId"/>
        <result column="type" property="type"/>
        <result column="account_type" property="accountType"/>
        <result column="create_time" property="receiptTime"/>
        <result column="receipt_amount" property="receiptAmount"/>
        <result column="stat" property="stat"/>
        <result column="payway" property="payway"/>
        <result column="receipt_remarks" property="receiptRemarks"/>
        <result column="deleted" property="deleted"/>
        <result column="busi_no" property="busiNo"/>
        <result column="create_time" property="createTime"/>
        <association column="cust_id" property="custName"
                     select="com.trenska.longwang.dao.customer.CustomerMapper.selectNameById"/>
        <association column="emp_id" property="empName"
                     select="com.trenska.longwang.dao.sys.SysEmpMapper.selectNameById"/>
        <association column="chargeman_id" property="chargemanName"
                     select="com.trenska.longwang.dao.sys.SysEmpMapper.selectNameById"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        tr.receipt_id,tr.receipt_no,tr.cust_id,tr.emp_id,tr.chargeman_id,tr.payway,tr.type,tr.account_type,
        tr.create_time,tr.receipt_amount, tr.stat,tr.receipt_remarks,tr.deleted,tr.busi_no,tr.create_time
    </sql>

    <select id="selectReceiptCountSelective" resultType="java.lang.Integer">
        select count(1)
        from t_receipt tr
        <if test="custName != null and custName != ''">
            ,t_customer tc
        </if>
        <if test="salesmanId != null">
            ,t_indent ti
        </if>
        <trim prefixOverrides="and" prefix="where">
            <if test="chargemanId != null">
                and tr.chargeman_id = #{chargemanId}
            </if>
            <if test="custId != null">
                and tr.cust_id = #{custId}
            </if>
            <if test="custName != null and custName != ''">
                and tr.cust_id = tc.cust_id
                and tc.cust_name like concat('%',#{custName},'%')
            </if>
            <if test="salesmanId != null">
                and tr.busi_no = ti.indent_no
                and ti.salesman_id = #{salesmanId}
            </if>
            <if test="stat != null">
                and tr.stat = #{stat}
            </if>
            <if test="receiptNo != null and receiptNo != ''">
                and tr.receipt_no like concat('%', #{receiptNo},'%')
            </if>
            <if test="accountType != null and accountType != ''">
                and tr.account_type = #{accountType}
            </if>
            <if test="beginTime != null and endTime != null">
                and tr.create_time between #{beginTime} and #{endTime}
            </if>
            <if test="payway != null and payway != ''">
                and tr.payway like concat('%',#{payway},'%')
            </if>
            <if test="type!=null and type != ''">
                and tr.type = #{type}
            </if>
            <if test="areaGrpId != null">
                and tr.cust_id in (
                  select cust_id from t_customer
                  where area_grp_id in (
                    select area_grp_id from t_area_grp where FIND_IN_SET(area_grp_id,getChildList(#{areaGrpId}))
                  )
                )
            </if>
        </trim>
    </select>
    <select id="selectReceiptPageSelective" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from t_receipt tr
        <if test="custName != null and custName != ''">
            ,t_customer tc
        </if>
        <if test="salesmanId != null">
            ,t_indent ti
        </if>
        <trim prefixOverrides="and" prefix="where">
            <if test="chargemanId != null">
                and tr.chargeman_id = #{chargemanId}
            </if>
            <if test="custId != null">
                and tr.cust_id = #{custId}
            </if>
             <if test="custName != null and custName != ''">
                and tr.cust_id = tc.cust_id
                and tc.cust_name like concat('%',#{custName},'%')
            </if>
            <if test="salesmanId != null">
                and tr.busi_no = ti.indent_no
                and ti.salesman_id = #{salesmanId}
            </if>
            <if test="stat != null">
                and tr.stat = #{stat}
            </if>
            <if test="receiptNo != null and receiptNo != ''">
                and tr.receipt_no like concat('%', #{receiptNo},'%')
            </if>
            <if test="accountType != null and accountType != ''">
                and tr.account_type = #{accountType}
            </if>
            <if test="beginTime != null and endTime != null">
                and tr.create_time between #{beginTime} and #{endTime}
            </if>
            <if test="payway != null and payway != ''">
                and tr.payway like concat('%',#{payway},'%')
            </if>
            <if test="type!=null and type != ''">
                and tr.type = #{type}
            </if>
            <if test="areaGrpId != null">
                and tr.cust_id in (
                    select cust_id from t_customer
                    where area_grp_id in (
                      select area_grp_id from t_area_grp where FIND_IN_SET(area_grp_id,getChildList(#{areaGrpId}))
                    )
                )
            </if>
        </trim>
        order by tr.create_time desc,tr.receipt_id desc
    </select>

    <select id="selectReceiptById" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from t_receipt tr
        where tr.receipt_id = #{receiptId}
    </select>

    <select id="selectByBusiNo" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from t_receipt tr
        where tr.busi_no = #{busiNo}
    </select>

    <!-- 客户对账统计数据，即没有分组和分页的数据 -->
    <select id="selectAccountCheckingSummationReceiptPart" resultType="com.trenska.longwang.model.report.AccountCheckingSummationModel">
        SELECT
        IFNULL(sum(IF(tr.type = '收款单' ,cast(tr.receipt_amount as decimal(9,2)),0)),0)  AS receivedAmountTotal,
        IFNULL(sum(IF(tr.type = '付款单' ,cast(tr.receipt_amount as decimal(9,2)),0)),0)  AS payedAmountTotal
        FROM (
        SELECT cust_id FROM t_customer
        <trim prefixOverrides="AND" prefix="WHERE">
            <if test="custName != null and custName != ''">
                AND cust_name LIKE concat('%',#{custName},'%')
            </if>
            <if test="priceGrpId != null and priceGrpId != 0">
                AND price_grp_id = #{priceGrpId}
            </if>
            <if test="custIds != null and custIds.size() > 0">
                <foreach collection="custIds" item="custId" open="AND cust_id IN (" close=")" separator=",">
                    #{custId}
                </foreach>
            </if>
            <if test="areaGrpIds != null and areaGrpIds.size() > 0">
                <foreach collection="areaGrpIds" item="areaGrpId" open=" AND area_grp_id IN(" close=")" separator=",">
                    #{areaGrpId}
                </foreach>
            </if>
        </trim>
        ) as tc
        LEFT JOIN (
        select cust_id
        from t_indent
        where stat in ('已完成','已出库')
        and indent_time between #{beginTime} and #{endTime}
        <trim prefixOverrides="and" prefix="and">
            <if test="salesmanId != null">
                AND salesman_id = #{salesmanId}
            </if>
        </trim>
        group by cust_id
        ) AS ti
        ON tc.cust_id = ti.cust_id
        LEFT JOIN (select * from t_receipt where create_time between #{beginTime} and #{endTime} and stat = 1) AS tr
        ON tc.cust_id = tr.cust_id
    </select>

    <!-- 客户对账 : beginTime和endTime是必传项-->
    <select id="selectAccountCheckingPageSelective" resultMap="AccountCheckingModelMap">
        SELECT
        tc.cust_id AS custId,
        tc.cust_no AS custNo,
        tc.cust_name AS custName,
        abs(
        ifnull(
        sum(
        if(
        tdd.oper = '增加欠款'
        or substring(tdd.name_no,1,3) = '订货单'
        or
        (substring(tdd.name_no,1,3) = '调账单'and tdd.oper = '调账增加'),
        cast(tdd.amount as decimal(9,2)),
        0
        )
        )
        ,0
        )
        ) as salesAmount,
        abs(
        ifnull(
        sum(
        if(
        substring(tdd.name_no,1,3) = '收款单' ,
        cast(tdd.amount as decimal(9,2)),
        0
        )
        ) ,
        0
        )
        ) as receivedAmount,

        abs(
        ifnull(
        sum(
        if(
        substring(tdd.name_no,1,3) = '付款单'
        or
        substring(tdd.name_no,1,3) = '退货单'
        or
        (substring(tdd.name_no,1,3) = '调账单' and substring(tdd.oper,1,4) = '调账减少'),
        cast(tdd.amount as decimal(9,2)),
        0
        )
        ),
        0
        )
        ) as payedAmount
        FROM(
        select * from t_customer
        <trim prefix="where" prefixOverrides="and">
              <if test="custIds != null and custIds.size() > 0">
                  <foreach collection="custIds" item="custId" open="and cust_id in (" close=")" separator=",">
                      #{custId}
                  </foreach>
              </if>
              <if test="areaGrpId != null">
                  and area_grp_id in (
                    select area_grp_id from t_area_grp where FIND_IN_SET(area_grp_id,getChildList(#{areaGrpId}))
                  )
              </if>
              <if test="custName != null and custName != ''">
                  and cust_name like concat('%',#{custName},'%')
              </if>
              <if test="priceGrpId != null and priceGrpId != 0">
                  and price_grp_id = #{priceGrpId}
              </if>
          </trim>
        ) as tc
        LEFT JOIN(
          select * from t_deal_detail where deal_time between #{beginTime} and #{endTime}
        ) as tdd
        on tdd.cust_id = tc.cust_id
        GROUP BY tc.cust_id
        ORDER BY tc.cust_no
    </select>

    <resultMap id="AccountCheckingModelMap" type="com.trenska.longwang.model.finaning.AccountCheckingModel" autoMapping="true">
        <result column="custId" property="custId"/>
        <result column="custNo" property="custNo"/>
        <result column="custName" property="custName"/>
        <result column="initDebt" property="initDebt"/>
        <result column="salesAmount" property="salesAmount"/>
        <result column="receivedAmount" property="receivedAmount"/>
        <result column="payedAmount" property="payedAmount"/>
        <result column="debtAmount" property="debtAmount"/>
        <association property="borrow" column="custId" select="com.trenska.longwang.dao.financing.LoanMapper.selectBorrowAmount"/>
        <association property="lend" column="custId" select="com.trenska.longwang.dao.financing.LoanMapper.selectLendAmount"/>
    </resultMap>
    <select id="selectAccountCheckingCount" resultType="java.lang.Integer">
        SELECT count(1) FROM(
        select * from t_customer
        <trim prefix="where" prefixOverrides="and">
            <if test="custIds != null and custIds.size() > 0">
                <foreach collection="custIds" item="custId" open="and cust_id IN (" close=")" separator=",">
                    #{custId}
                </foreach>
            </if>
            <if test="areaGrpId != null">
                and area_grp_id in (
                  select area_grp_id from t_area_grp where FIND_IN_SET(area_grp_id,getChildList(#{areaGrpId}))
                )
            </if>
            <if test="custName != null and custName != ''">
                and cust_name LIKE concat('%',#{custName},'%')
            </if>
            <if test="priceGrpId != null and priceGrpId != 0">
                and price_grp_id = #{priceGrpId}
            </if>
        </trim>
        ) as tc
        LEFT JOIN(
          select * from t_deal_detail where deal_time between #{beginTime} and #{endTime}
        ) as tdd
        on tdd.cust_id = tc.cust_id
        GROUP BY tc.cust_id
    </select>

    <select id="selectReceiptCountForCustomerDealDetailSelective" resultType="java.lang.Integer">
        SELECT COUNT(1) FROM t_receipt tr
        WHERE tr.cust_id = #{custId}
        <if test="beginTime != null and beginTime != '' and endTime != null and endTime != ''">
            AND tr.create_time BETWEEN #{beginTime} and #{endTime}
        </if>
    </select>

    <select id="selectRecordOfMaxId" resultType="com.trenska.longwang.entity.financing.Receipt">
        select <include refid="Base_Column_List"/>
        from t_receipt tr
        where tr.receipt_id = (select max(receipt_id) from t_receipt where type = #{type})
    </select>

    <select id="selectDealDetailSummarizingForDecrease" resultType="com.trenska.longwang.entity.financing.DealDetailSummarizing">
        select ifnull(sum(if(tr.type = '收款单' and tr.stat = 1,cast(tr.receipt_amount as decimal(9,2)),0)),0) as receiptedDetb,
               ifnull(sum(if(tr.type = '付款单' and tr.stat = 1,cast(tr.receipt_amount as decimal(9,2)),0)),0) as cutDebt
        from t_receipt tr
        where tr.stat = 1
        and tr.cust_id = #{custId}
        <trim prefix="and" prefixOverrides="and">
            <if test="beginTime != null and beginTime != '' and endTime != null and endTime != ''">
                AND tr.create_time BETWEEN #{beginTime} AND #{endTime}
            </if>
            <if test="oper != null and oper != ''">
                AND tr.account_type = #{oper}
            </if>
        </trim>
    </select>

    <!--收付款统计报表-->
    <!--ifnull(sum(IF(tr.payway = #{payway} , cast(tr.receipt_amount as decimal(13,4)) ,0)),0)  AS #{payway}-->
    <select id="selectReceiptStatics" resultType="java.util.Map">
        SELECT
       <foreach collection="payways" separator="," item="payway" >
        concat(cast(sum(if(tr.payway = #{payway},tr.receipt_amount,0)) as decimal(9,2)),'') as #{payway}
       </foreach>
        FROM t_receipt tr
        <if test="areaGrpId != null">
            ,t_customer tc
        </if>
        <if test="salesmanId != null">
            ,t_indent ti
        </if>
        where tr.type = #{type}
        and tr.stat = 1
        and tr.account_type = #{accountType}
        <if test="beginTime != null and beginTime != ''and endTime != null and endTime != ''">
            and tr.create_time between #{beginTime} and #{endTime}
        </if>
        <if test="salesmanId != null">
            and ti.indent_no = tr.busi_no
            and ti.salesman_id = #{salesmanId}
            and ti.stat in ('已出库','已完成')
        </if>
        <if test="custIds != null and custIds.size() > 0">
            <foreach collection="custIds" item="custId" separator="," open="and tr.cust_id in (" close=")">
                #{custId}
            </foreach>
        </if>
        <if test="areaGrpId != null">
            and tc.cust_id = tr.cust_id
            and tc.area_grp_id in (
              select area_grp_id from t_area_grp where FIND_IN_SET(area_grp_id,getChildList(#{areaGrpId}))
            )
        </if>
    </select>
    <select id="selectReceiptStaticsCount" resultType="java.lang.Integer">
        SELECT count(distinct account_type)
        FROM t_receipt tr
        <if test="areaGrpId != null">
            ,t_customer tc
        </if>
        <if test="salesmanId != null">
            ,t_indent ti
        </if>
        where tr.type = #{type}
        and tr.stat = 1
        and tr.account_type = #{accountType}
        <if test="beginTime != null and beginTime != ''and endTime != null and endTime != ''">
            and tr.create_time between #{beginTime} and #{endTime}
        </if>
        <if test="salesmanId != null">
            and ti.indent_no = tr.busi_no
            and ti.salesman_id = #{salesmanId}
            and ti.stat in ('已出库','已完成')
        </if>
        <if test="custIds != null and custIds.size() > 0">
            <foreach collection="custIds" item="custId" separator="," open="and tr.cust_id in (" close=")">
                #{custId}
            </foreach>
        </if>
        <if test="areaGrpId != null">
            and tc.cust_id = tr.cust_id
            and tc.area_grp_id in (
              select area_grp_id from t_area_grp where FIND_IN_SET(area_grp_id,getChildList(#{areaGrpId}))
            )
        </if>
    </select>
    <select id="selectAccountCheckingSummation"
            resultType="com.trenska.longwang.model.report.AccountCheckingSummationModel">
        SELECT
        abs(
          ifnull(
            sum(
              if(
                tdd.oper = '增加欠款'
                or substring(tdd.name_no,1,3) = '订货单'
                or (substring(tdd.name_no,1,3) = '调账单'and tdd.oper = '调账增加')
                ,cast(tdd.amount as decimal(9,2))
              ,0)
            )
          ,0)
        ) as salesAmountTotal,
        abs(ifnull( sum( if(substring(tdd.name_no,1,3) = '收款单' , cast(tdd.amount as decimal(9,2)),0) ) ,0)) as receivedAmountTotal,
        abs(
          ifnull(
            sum(
              if(
                substring(tdd.name_no,1,3) = '付款单'
                or substring(tdd.name_no,1,3) = '退货单'
                or (substring(tdd.name_no,1,3) = '调账单' and substring(tdd.oper,1,4) = '调账减少'),
                cast(tdd.amount as decimal(9,2))
              ,0)
            )
          ,0)
        ) as payedAmountTotal
        from(
        select * from t_customer
        <trim prefix="where" prefixOverrides="and">
            <if test="custIds != null and custIds.size() > 0">
                <foreach collection="custIds" item="custId" open="AND cust_id IN (" close=")" separator=",">
                    #{custId}
                </foreach>
            </if>
            <if test="areaGrpId != null">
                AND area_grp_id IN (
                  select area_grp_id from t_area_grp where FIND_IN_SET(area_grp_id,getChildList(#{areaGrpId}))
                )
            </if>
            <if test="custName != null and custName != ''">
                AND cust_name LIKE concat('%',#{custName},'%')
            </if>
            <if test="priceGrpId != null and priceGrpId != 0">
                AND price_grp_id = #{priceGrpId}
            </if>
        </trim>
        ) as tc
        left join(select * from t_deal_detail where deal_time between #{beginTime} and #{endTime}) as tdd
        on tdd.cust_id = tc.cust_id
    </select>
    <select id="selectReceiptSelectiveSummation" resultType="com.trenska.longwang.model.report.CommonReceiptSummation">
        select ifnull(sum( tr.receipt_amount ),0) as receiptSum
        from t_receipt tr
        <if test="custName != null and custName != ''">
            ,t_customer tc
        </if>
        <if test="salesmanId != null">
            ,t_indent ti
        </if>
        <trim prefixOverrides="and" prefix="where">
            <if test="chargemanId != null">
                and tr.chargeman_id = #{chargemanId}
            </if>
            <if test="custId != null">
                and tr.cust_id = #{custId}
            </if>
            <if test="custName != null and custName != ''">
                and tr.cust_id = tc.cust_id
                and tc.cust_name like concat('%',#{custName},'%')
            </if>
            <if test="salesmanId != null">
                and tr.busi_no = ti.indent_no
                and ti.salesman_id = #{salesmanId}
            </if>
            <if test="stat != null">
                and tr.stat = #{stat}
            </if>
            <if test="receiptNo != null and receiptNo != ''">
                and tr.receipt_no like concat('%', #{receiptNo},'%')
            </if>
            <if test="accountType != null and accountType != ''">
                and tr.account_type = #{accountType}
            </if>
            <if test="beginTime != null and endTime != null">
                and tr.create_time between #{beginTime} and #{endTime}
            </if>
            <if test="payway != null and payway != ''">
                and tr.payway like concat('%',#{payway},'%')
            </if>
            <if test="type!=null and type != ''">
                and tr.type = #{type}
            </if>
            <if test="areaGrpId != null">
                and tr.cust_id in (
                  select cust_id from t_customer
                  where area_grp_id in (
                    select area_grp_id from t_area_grp where FIND_IN_SET(area_grp_id,getChildList(#{areaGrpId}))
                  )
                )
            </if>
        </trim>
    </select>
</mapper>