<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.trenska.longwang.dao.customer.PriceGrpMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.trenska.longwang.entity.customer.PriceGrp">
        <id column="price_grp_id" property="priceGrpId" />
        <result column="price_grp_name" property="priceGrpName" />
        <result column="descr" property="descr" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        price_grp_id, price_grp_name, descr
    </sql>

</mapper>
